version: '3.7'

services:
  wazuh-manager:
    image: wazuh/wazuh-manager:4.7.0
    ports:
      - "1514:1514"
      - "1515:1515"
      - "55000:55000"

  wazuh-indexer:
    image: wazuh/wazuh-indexer:4.7.0
    ports:
      - "9200:9200"

  wazuh-dashboard:
    image: wazuh/wazuh-dashboard:4.7.0
    ports:
      - "5601:5601"
